div{transition: 0.4s;}
#flags {
    height: 100px;
    width: 150px;
}

#countryNames {
    font-size: 22px;
    padding-bottom: 10px;
}

.popAsc { 
    height: 100px;
    width: 150px;
    float: left;
    background-color: #CAC8BD;
}
td {text-align: center;}
.AADes {
    height: 100px;
    width:150px;
    background-color: #D6E1EB;
    float: left;
}

#reverse{
    height: 100px;
    width: 150px;
    overflow: auto;
    background-color: #CAC8BD;
   float:left;
}

.AAAsc{
    height: 100px;
    width: 150px;
    background-color: #D6E1EB;
    float: left;
}

#size {
    height:300px;
    width:750px;
    font-size: 22px;
    
}


.alph { height: 100px;
width: 150px;
    background-color: #CAC8BD;
    float: left;
}
.filtreAO{ width: 150px;
height: 100px;
background-color:maroon;
    float: left;
}
.filtrePZ{ width:150px;
    height:100px;
    background-color: darkkhaki;
    float: left;
    
}
.Info {float: left;}
th {
    border-bottom: solid;
    background-color: #BCBABE;
    transition: 0.4s;
}
tr:nth-child(even) {
    background-color: #CAC8BD;
    transition: 0.4s;
}
tr:nth-child(odd) { background-color:#D6E1EB; }
body {
    background-color: #99AEBF;
    font-size: 22px;
    font-family:sans-serif; 
    padding-left: 10px
}
td {padding: 10px;
	color: ;

}
tr:hover, .popAsc:hover, .alph:hover, .AADes:hover, #reverse:hover, .AAAsc:hover {background-color: #5885AF;}

bad{background-color: red}
.notes { margin-right: 40% }
li { margin-bottom: 5px;}
#link {float: right;
padding-right: 40%}