#flags {
    height: 100px;
    width: 150px;
}

#countryNames {
    font-size: 22px;
    padding-bottom: 10px;
}

td { border: solid;}

.popAsc { 
    height: 100px;
    width: 100px;
    float: left;
    background-color: aqua
}

.AADes {
    height: 100px;
    width:100px;
    background-color: aquamarine;
    float: left;
}

#reverse{
    height: 100px;
    width: 100px;
    overflow: auto;
    background-color: beige;
   float:left;
}

.AAAsc{
    height: 100px;
    width: 100px;
    background-color: darkcyan;
    float: left;
}

#size {
    height:200px;
    width:1000px;
    
}

table{float: left}
.alph { height: 100px;
width: 100px;
    background-color: brown;
    float: left;
}
.filtreAO{ width: 100px;
height: 100px;
background-color: chartreuse;
}
.filtrePZ{ width:100px;
    height:100px;
    background-color: darkkhaki;
    
}


